@import "tailwindcss";

/* clerk user button adjustment  */

.cl-avatarBox{
    width: 38px;
    height: 38px;
}
.arrows{
    height: 40px;
    width: 40px;
    margin: 1px;
}

/* input colours */
/* input {
    background-color: #fff;
    accent-color: red;
    border: 1px solid #ccc;    
    color: #333;
} */

